name: dockerci-cd
on: 
   workflow_dispatch:
             branche: [master]
jobs:
  checkout-job:
     runs-on: ubuntu-latest
     steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-java@v4
            with:
              distribution: temurin
              java-version: 17
              cache: maven
        - run: mvn -B clean package
        - uses: docker/login-action@v3
            with:
              username: ${{ vars.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
         - run: |
              docker build -t ${{ vars.DOCKERHUB_USERNAME }}:${{ GITHUB_RUN_NUMBER }} .
              docker push ${{ vars.DOCKERHUB_USERNAME }}:${{ GITHUB_RUN_NUMBER }}
